@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-direction: column;
  display: flex;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

li {
  flex: auto;
  width: 80px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}

.header {
  display: flex;
  padding: 10px;
}
.left-links {
  display: flex;
}
.right-links {
  display: flex;
  margin-left: auto;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  flex: 1;
  margin: 0 50%;
}  

.input {
  flex: 1;
  margin: 0 50%;
}  
button {
  height: 35px;
  margin: 10px;
}

.footer{
  display: flex;
  background-color: rgb(240, 240, 240);
  margin-top: auto;
}
